//переменные
$black: #000000;
$white: #FFF;

* {
    box-sizing: border-box;
  }

  body {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    font-family: "Montserrat", sans-serif;
  }

.container{
    max-width: 1440px;
    margin: 0 auto;
}
