//переменные
$black: #000000;
$white: #FFF;

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.container {
    max-width: 1440px;
    margin: 0 auto;
}


/* //slider styles// */
.slider {
    display: flex;
    max-width: 1000px;
    margin: 0 auto;
    box-shadow: 0 0 0 1px black;
    overflow: hidden;
    position: relative;
}

.slider-line{
    display: flex;
}
.slider-img {
    // width: 100%;
width: 200px;

}
.slider-panel{
    color: red;
    width: 100%;
    display: flex;
    position: absolute;
    top: 50%;
}

.arrows {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;

}

.arrows i {
    cursor:pointer;
}

.arrows i:hover {
    color: #ffd80e;
}


/* RANDOM_FILM RART */
.random {
    background-color: grey;
    margin: 0 auto;
    width: 700px;
    max-height: 350px;
}

.random-container {
    height: 350px;
    display: flex;
    align-items: center;
    justify-content: space-around;
}

.random__left-part {
    align-items: center;
}

.random-basic-img {
    width: 50px;
    height: 50px;
}

.movies {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}

.movie {
    width: 200px;
    margin: 10px;
    position: relative;
}

.random__movie__cover-inner {
    position: relative;
    height: 250px;
}

.random__movie__cover {
    max-width: 100%;
    height: 100%;
}

.random__movie__cover--darkened {
    background-color: #000000;
    opacity: 0.1;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    max-width: 100%;
    height: 100%;
    z-index: 1;
}

.random__movie__cover--darkened:hover {
    background-color: grey;
    cursor: pointer;
}

.random__movie__info {
    padding: 10px 0px;
}

.random__movie__title {
    font-size: 16px;
    color: #ffffff;
}

.random__movie__category {
    font-size: 14px;
    color: #ffd80e;
}

.random__movie__average {
    position: absolute;
    top: 10px;
    left: 10px;
    right: 0;
    border-radius: 50%;
    width: 36px;
    height: 36px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #1a191f;
    color: #ffffff;
    font-size: 14px;
}

.random__movie__average--green {
    border: 1px solid green;
}

.random__movie__average--orange {
    border: 1px solid orange;
}

.random__movie__average--red {
    border: 1px solid red;
}

/* RANDOM_FILM RART END */