@charset "UTF-8";
* {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  color: #ffffff;
  font-family: "Poppins";
}

body {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  background-color: black;
}

.container {
  max-width: 1440px;
  margin: 0 auto;
}

img {
  max-width: 100%;
}

.section_title {
  margin: 20px 0 20px 70px;
  font-size: 30px;
  color: #ffffff;
}

.film-cards-gallery {
  position: relative;
  max-width: 1440px;
  padding: 40px 0;
  margin: 0 auto;
  background-color: #0a031c;
}

.gallery-wrapper {
  width: 90%;
  margin: 0px auto;
  padding: 20px 0;
  overflow-x: auto;
}

.gallery-wrapper::-webkit-scrollbar {
  display: none;
}

.movies-list, .series-list, .cartoon-list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: nowrap;
      flex-wrap: nowrap;
  width: 1400px;
  list-style-type: none;
  margin: 0;
  padding: 0;
}

.movies-list__item {
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  margin: 0 20px;
  padding: 0;
  min-width: 200px;
  border-radius: 12px;
  -webkit-transition: -webkit-transform 0.4s;
  transition: -webkit-transform 0.4s;
  transition: transform 0.4s;
  transition: transform 0.4s, -webkit-transform 0.4s;
}

.movies-list__item:hover {
  -webkit-transform: scale(105%);
          transform: scale(105%);
  -webkit-box-shadow: 0px 0px 10px 10px rgba(255, 255, 255, 0.3);
          box-shadow: 0px 0px 10px 10px rgba(255, 255, 255, 0.3);
}

.movies-list__link {
  display: inline-block;
}

.movies-list__img {
  height: 100%;
  border-radius: 12px;
  margin: auto 0;
  padding: 0;
}

.movies-gallery,
.series-gallery,
.cartoon-container {
  position: relative;
}

.gallery-btn--right, .gallery-btn--left {
  position: absolute;
  top: 250px;
  margin: 0;
  padding: 0;
  width: 37px;
  height: 48px;
  border-radius: 5px;
  cursor: pointer;
  background-color: rgba(0, 0, 0, 0.3);
  border: none;
}
.gallery-btn--right img, .gallery-btn--left img {
  width: 37px;
  height: 48px;
}

.gallery-btn--right {
  right: 80px;
}

.gallery-btn--left {
  left: 80px;
  -webkit-transform: rotate(180deg);
          transform: rotate(180deg);
}

.gallery-btn--right:hover {
  background-color: rgba(0, 0, 0, 0.9);
}

.gallery-btn--left:hover {
  background-color: rgba(0, 0, 0, 0.9);
}

.modal-window {
  display: none;
}

.modal-window--active {
  display: inline-block;
  position: absolute;
  left: 10px;
  top: 1%;
  width: 95%;
  margin: auto;
  z-index: 99;
  position: fixed;
}

.modal-window__container {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  max-width: 1364px;
  margin: 0 auto;
  padding: 40px;
  border-radius: 20px;
  background-color: #000000;
}

.modal-window__container::after {
  content: "";
  top: -15px;
  left: -20px;
  position: absolute;
  height: 105%;
  width: 105%;
  background: -webkit-gradient(linear, left top, right top, from(#FF4D6D), to(#54E1FF));
  background: linear-gradient(90deg, #FF4D6D, #54E1FF);
  z-index: -1;
  -webkit-filter: blur(40px);
          filter: blur(40px);
}

.modal-window__title {
  margin: 10px 0;
  font-size: 70px;
  font-weight: 900;
}

.modal-window__year,
.modal-window__country,
.modal-window__genres {
  margin: 15px 0 0 0;
  font-size: 22px;
}

.modal-window__img-box {
  min-width: 400px;
}
.modal-window__img-box img {
  width: 100%;
  border-radius: 20px;
}

.modal-window__description {
  margin: 20px 0 0 40px;
}

.modal-window__text {
  font-size: 20px;
  font-weight: 500;
  line-height: 30px;
}

.modal-window__btn {
  display: inline-block;
  position: absolute;
  top: 25px;
  right: 25px;
  width: 35px;
  height: 35px;
  border: none;
  border-radius: 5px;
  background-color: rgba(71, 71, 71, 0);
}
.modal-window__btn img {
  width: 30px;
  height: 30px;
}

.search-result {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  margin: 10px auto;
}

/* //slider styles// */
swiper-container {
  width: 100%;
  padding-top: 50px;
  padding-bottom: 50px;
  margin-top: 10px;
}

swiper-slide {
  background-position: center;
  background-size: cover;
  width: 25%;
}

swiper-slide img {
  display: block;
  width: 100%;
  border-radius: 20px;
}

/* header styles */
.header__container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding: 16px;
  height: 60px;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  margin-bottom: 10px;
}

.header__content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding: 16px;
  height: 60px;
}

.header__left-part {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.header__logo {
  font-size: 32px;
  text-decoration: none;
  color: aliceblue;
  width: 50px;
}

.header__search {
  padding: 8px;
  border: 2px solid black;
  border-radius: 5px;
  outline: none;
  color: #000;
}

.header__search::-webkit-input-placeholder {
  color: #999;
}

.header__search::-moz-placeholder {
  color: #999;
}

.header__search:-ms-input-placeholder {
  color: #999;
}

.header__search::-ms-input-placeholder {
  color: #999;
}

.header__search::placeholder {
  color: #999;
}

.header__list {
  font-size: 18px;
  list-style-type: none;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  gap: 20px;
}

.footer__list {
  list-style-type: none;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 15px;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.footer {
  margin-top: 10px;
  border-top: 1px solid aliceblue;
}

a {
  text-decoration: none;
}

a:hover {
  color: rgb(236, 155, 245);
}

.creators {
  text-align: center;
  font-size: 10px;
  color: rgb(236, 155, 245);
}

@media (max-width: 550px) {
  .header__list {
    font-size: 12px;
  }
  .footer__list {
    font-size: 12px;
  }
}
/* header end */
.popular-movies {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  margin: 50px auto;
  max-width: 1270px;
  text-align: center;
}

.popular-movie {
  width: 240px;
  margin: 10px;
  position: relative;
}

.popular-movie:hover {
  -webkit-transform: scale(105%);
          transform: scale(105%);
}

.search-movie_cover,
.popular-movie__cover-inner {
  position: relative;
  height: 360px;
  -webkit-box-shadow: 10px 5px 5px #263459;
          box-shadow: 10px 5px 5px #263459;
}

.search-movie_cover,
.popular-movie__cover {
  max-width: 100%;
  height: 100%;
}

.popular-movie__cover--darkened {
  background-color: #000000;
  opacity: 0.1;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  max-width: 100%;
  height: 100%;
  z-index: 1;
}

.popular-movie__cover--darkened:hover {
  background-color: #0a031c;
  cursor: pointer;
}

.popular-movie__info {
  padding: 10px 0px;
  text-align: center;
}

.search-movie__title,
.popular-movie__title {
  font-family: "Poppins";
  text-align: center;
  font-size: 18px;
  color: white;
}

.search-movie__category,
.popular-movie__category {
  font-family: "Poppins";
  font-size: 14px;
  color: rgb(153, 150, 150);
  font-style: italic;
  margin-bottom: 3px;
}

.search-movie__average,
.popular-movie__average {
  position: absolute;
  top: 10px;
  left: 10px;
  border-radius: 50%;
  width: 36px;
  height: 36px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background-color: #0a031c;
  color: white;
  font-size: 14px;
}

.search-movie__average--green,
.popular-movie__average--green {
  border: 1px solid green;
}

.search-movie__average--orange,
.popular-movie__average--orange {
  border: 1px solid orange;
}

.search-movie__average--red,
.popular-movie__average--red {
  border: 1px solid red;
}

.modal-overlay {
  display: none;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.8);
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  z-index: 1000;
}

.modal-content {
  background-color: black;
  border-radius: 5px;
  padding: 20px;
  -webkit-box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.5);
          box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.5);
  width: 80%;
  max-width: 600px;
  position: relative;
  max-height: 80vh;
  overflow-y: auto;
  margin: auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

h2 {
  color: #000;
}

.modal-header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-bottom: 10px;
}

.modal-close {
  background-color: transparent;
  border: none;
  border-radius: 3px;
  padding: 5px 10px;
  color: white;
  cursor: pointer;
}

.modal-prev,
.modal-next {
  border: none;
  border-radius: 3px;
  padding: 8px 15px;
  color: white;
  cursor: pointer;
  -webkit-transition: background-color 0.3s, -webkit-transform 0.3s;
  transition: background-color 0.3s, -webkit-transform 0.3s;
  transition: background-color 0.3s, transform 0.3s;
  transition: background-color 0.3s, transform 0.3s, -webkit-transform 0.3s;
}

.modal-prev {
  background-color: #54E1FF;
}

.modal-next {
  background-color: #FF4D6D;
}

.modal-prev:hover {
  background-color: #54E1FF;
  -webkit-transform: scale(1.05);
          transform: scale(1.05);
}

.modal-next:hover {
  background-color: #54E1FF;
  -webkit-transform: scale(1.05);
          transform: scale(1.05);
}

.movie__cover-inner {
  position: relative;
  height: 233px;
  -webkit-box-shadow: 10px 5px 5px rgb(15, 15, 15);
          box-shadow: 10px 5px 5px rgb(15, 15, 15);
}

.movie__cover {
  max-width: 100%;
  height: 100%;
}

.movie__cover--darkened {
  background-color: #000000;
  opacity: 0.1;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  max-width: 100%;
  height: 100%;
  z-index: 1;
}

.movie__cover--darkened:hover {
  background-color: #0a031c;
  cursor: pointer;
}

.movie__info {
  padding: 10px 0px;
}

.movie__title {
  font-style: "Poppins";
  color: #ffffff;
}

.movie__category {
  font-size: 14px;
  font-family: "Poppins";
  color: rgb(153, 150, 150);
}

.movie__average {
  position: absolute;
  top: 10px;
  left: 10px;
  right: 0;
  border-radius: 50%;
  width: 36px;
  height: 36px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background-color: #1a191f;
  color: #ffffff;
  font-size: 14px;
}

.movie__average--green {
  border: 1px solid green;
}

.movie__average--orange {
  border: 1px solid orange;
}

.movie__average--red {
  border: 1px solid red;
}

/* RANDOM_FILM RART */
.random {
  position: relative;
}

.random::after {
  content: "";
  top: 0%;
  left: 24%;
  position: absolute;
  height: 100%;
  width: 53%;
  background: -webkit-gradient(linear, left top, right top, from(#FF4D6D), to(#54E1FF));
  background: linear-gradient(90deg, #FF4D6D, #54E1FF);
  z-index: -1;
  -webkit-filter: blur(30px);
          filter: blur(30px);
}

.random-container {
  height: 360px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  background: -webkit-gradient(linear, left top, right top, color-stop(51%, rgb(10, 3, 28)), color-stop(200%, rgb(52, 148, 168)));
  background: linear-gradient(90deg, rgb(10, 3, 28) 51%, rgb(52, 148, 168) 200%);
  background-color: #0a031c;
  margin: 50 auto;
  max-width: 700px;
  height: 380px;
  -webkit-backdrop-filter: opacity(20%);
          backdrop-filter: opacity(20%);
  box-shadow: -1px -1px 61px 35px rgba(35, 49, 84, 0.64);
  -webkit-box-shadow: -1px -1px 61px 35px rgba(35, 49, 84, 0.64);
  -moz-box-shadow: -1px -1px 61px 35px rgba(35, 49, 84, 0.64);
  z-index: 99;
  border-radius: 17px;
}

.random__left-part {
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.random-basic-img {
  width: 50px;
  height: 50px;
}

.random__movie {
  width: 160px;
  margin: 10px;
  position: relative;
}

.random__title {
  width: 250px;
  margin-bottom: 50px;
  font-size: 30px;
}

.random-select {
  font-family: "Poppins";
  width: 170px;
  height: 45px;
  border: 1px solid rgb(161, 158, 158);
  font-size: 17px;
  color: #ffffff;
  background-color: #454b65;
  text-align: center;
  margin-bottom: 3px;
  border-radius: 7px;
}

.movies {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -ms-flex-pack: distribute;
      justify-content: space-around;
}

.random-basic-img {
  animation: 1s linear 0s normal none infinite running rot;
  -webkit-animation: 1s linear 0s normal none infinite running rot;
  width: 125px;
  height: 125px;
}

@keyframes rot {
  0% {
    -webkit-transform: rotate(0deg);
            transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(360deg);
            transform: rotate(360deg);
  }
}
@-webkit-keyframes rot {
  0% {
    -webkit-transform: rotate(0deg);
            transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(360deg);
            transform: rotate(360deg);
  }
}
/* RANDOM_FILM RART END */
.top-250-films {
  background-color: #0a031c;
  margin: auto;
  text-align: center;
}

.top-250-films__title {
  padding-top: 30px;
  font-style: "Poppins";
}

.top-250-films__boxes {
  margin: auto;
  max-width: 1350px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.top-250-films__button-hide {
  display: none;
  text-align: center;
  font-family: "Poppins";
  background-color: #FF4D6D;
  font-size: 17px;
  cursor: pointer;
  color: white;
  height: 49px;
  width: 150px;
  border-radius: 7px;
  border: 1px solid #FF4D6D;
  margin-bottom: 30px;
}

.top-buttons {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.top-250-films__button {
  text-align: center;
  font-family: "Poppins";
  background-color: #FF4D6D;
  font-size: 17px;
  cursor: pointer;
  color: white;
  height: 49px;
  width: 150px;
  border-radius: 7px;
  border: 1px solid #FF4D6D;
  margin-bottom: 30px;
  margin-right: 15px;
}

.top-250-films__box,
.top-250-films__box-two {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  max-width: 1270px;
}

.top-movie {
  width: 240px;
  margin: 10px;
  position: relative;
}

.top-movie:hover {
  -webkit-transform: scale(105%);
          transform: scale(105%);
  -webkit-box-shadow: 0px 0px 10px 10px rgba(255, 255, 255, 0.3);
          box-shadow: 0px 0px 10px 10px rgba(255, 255, 255, 0.3);
}

.top-movie__cover-inner {
  position: relative;
  height: 360px;
  -webkit-box-shadow: 10px 5px 5px #263459;
          box-shadow: 10px 5px 5px #263459;
}

.top-movie__cover {
  max-width: 100%;
  height: 100%;
}

.top-movie__cover--darkened {
  background-color: #000000;
  opacity: 0.1;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  max-width: 100%;
  height: 100%;
  z-index: 1;
}

.top-movie__cover--darkened:hover {
  background-color: #263459;
  cursor: pointer;
}

.top-movie__info {
  padding: 10px 0px;
}

.top-movie__title {
  font-family: "Poppins";
  font-size: 18px;
  color: white;
}

.top-movie__category {
  font-family: "Poppins";
  font-size: 14px;
  color: rgb(153, 150, 150);
  font-style: italic;
  margin-bottom: 3px;
}

.top-movie__average {
  position: absolute;
  top: 10px;
  left: 10px;
  border-radius: 50%;
  width: 36px;
  height: 36px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background-color: #0a031c;
  color: white;
  font-size: 14px;
}

.top-movie__average--green {
  border: 1px solid green;
}

.top-movie__average--orange {
  border: 1px solid orange;
}

.top-movie__average--red {
  border: 1px solid red;
}

.preloader {
  position: fixed;
  left: 0;
  top: 0;
  right: 0;
  bottom: 0;
  overflow: hidden;
  /* фоновый цвет */
  background: #0a031c;
  z-index: 1001;
}

.preloader__image {
  position: relative;
  top: 50%;
  left: 50%;
  width: 70px;
  height: 70px;
  margin-top: -35px;
  margin-left: -35px;
  text-align: center;
  -webkit-animation: preloader-rotate 2s infinite linear;
          animation: preloader-rotate 2s infinite linear;
}

@-webkit-keyframes preloader-rotate {
  100% {
    -webkit-transform: rotate(360deg);
            transform: rotate(360deg);
  }
}

@keyframes preloader-rotate {
  100% {
    -webkit-transform: rotate(360deg);
            transform: rotate(360deg);
  }
}
.loaded_hiding .preloader {
  -webkit-transition: 0.3s opacity;
  transition: 0.3s opacity;
  opacity: 0;
}

.loaded .preloader {
  display: none;
}