//переменные
$black: #000000;
$white: #ffffff;
$body-color:#020510;
$genre-color : rgb(153, 150, 150);
$section-color: #0a031c;
$pink-color: #FF4D6D;
$blue-color: #54E1FF;
$general-color: #263459;
$general-font: 'Poppins';
@mixin font-style{
  font-size: 30px;
}

@mixin movie-card-style{
  margin: 10px;
  position: relative;
}

@mixin button-general-style{
  font-family: 'Poppins';
background-color: $pink-color;
font-size: 17px;
cursor: pointer;
color: white;
height: 49px;
width: 150px;
border-radius: 7px;
border: 1px solid $pink-color;
margin-bottom: 30px;
}

* {
    box-sizing: border-box;
    color:$white;
    font-family: 'Poppins';
  }

body {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    background-color: black;
}

.container {
    max-width: 1440px;
    margin: 0 auto;

}

img {
  max-width: 100%;
}

//movies

.section_title{
  margin: 20px 0 20px 70px;
  font-size: 30px;
  color: $white;
}

.film-cards-gallery {
  position: relative;
  max-width: 1440px;
  padding: 40px 0;
  margin: 0 auto;
  background-color: $section-color;
}
.gallery-wrapper{
  width: 90%;
  margin: 0px auto;
  padding: 20px 0;
  overflow-x: auto;
}
.gallery-wrapper::-webkit-scrollbar {
  display: none;
}
.movies-list, .series-list, .cartoon-list {
  display: flex;
  flex-wrap: nowrap;
  width: 1400px;
  list-style-type: none;
  margin: 0;
  padding: 0;

}
.movies-list__item{
  align-items: flex-start;
  margin: 0 20px;
  padding: 0;
  min-width: 200px;
  border-radius: 12px;
  transition: transform 0.4s;
}

.movies-list__item:hover{
  transform: scale(105%);
  box-shadow: 0px 0px 10px 10px rgba(255, 255, 255, 0.3);
}

.movies-list__link{
  display: inline-block;
}
.movies-list__img{
  height: 100%;
  border-radius: 12px;
  margin: auto 0;
  padding: 0;
}

.movies-gallery,
.series-gallery,
.cartoon-container{
  position: relative;
}
.gallery-btn--right, .gallery-btn--left {
  position: absolute;
  top: 250px;
  margin: 0;
  padding: 0;
  width: 37px;
  height: 48px;
  border-radius: 5px;
  cursor: pointer;
  background-color: rgb(0, 0, 0, 0.3);
  border: none;


  img{
    width: 37px;
    height: 48px;
  }
}
.gallery-btn--right{
  right: 80px;
}
.gallery-btn--left {
  left: 80px;
  transform: rotate(180deg);
}
.gallery-btn--right:hover{
  background-color: rgb(0, 0, 0, 0.9);
}
.gallery-btn--left:hover{
  background-color: rgb(0, 0, 0, 0.9);
}
//модальное окно
.modal-window{
  display: none;
}

.modal-window--active{
  display: inline-block;
  position: absolute;
  left: 10px;
  top: 1%;
  width: 95%;
  margin: auto;
  z-index: 99;
  position: fixed;
}


.modal-window__container{
  position: relative;
  display: flex;
  justify-content: space-between;
  max-width: 1364px;
  margin: 0 auto;
  padding: 40px;
  border-radius: 20px;
  background-color:$black;
  //z-index: 2;
  //box-shadow: 0px 4px 40px 30px rgb(255, 77, 109, 0.3);

}
.modal-window__container::after {
  content: "";
  top: -15px;
  left: -20px;
  position: absolute;
  height: 105%;
  width: 105%;
  background: linear-gradient(90deg, $pink-color, $blue-color);
  z-index: -1;
  filter: blur(40px);
}

.modal-window__title{
  margin: 10px 0;
  font-size: 70px;
  font-weight: 900;
}
.modal-window__year,
.modal-window__country,
.modal-window__genres{
  margin: 15px 0 0 0;
  font-size: 22px;
}
.modal-window__img-box {
  min-width: 400px;
  img{
    width: 100%;
    border-radius: 20px;}
}
.modal-window__description{
  margin: 20px 0 0 40px;
}
.modal-window__text{
  font-size: 20px;
  font-weight: 500;
  line-height: 30px;
}
.modal-window__btn{
  display: inline-block;
  position: absolute;
  top: 25px;
  right: 25px;
  width: 35px;
  height: 35px;
  border: none;
  border-radius: 5px;
  background-color: rgba($color: #474747, $alpha: 0);
  img{
    width: 30px;
    height: 30px;
  }
}
.search-result{
    display: flex;
    flex-wrap: wrap;
    margin: 10px auto;
    }

/* //slider styles// */
swiper-container {
  width: 100%;
  padding-top: 50px;
  padding-bottom: 50px;
  margin-top: 10px;
}

swiper-slide {
  background-position: center;
  background-size: cover;
  width: 25%;
}

swiper-slide img {
  display: block;
  width: 100%;
  border-radius: 20px;
}

//ЛЕНА

/* header styles */
.header__container {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 16px;
  height: 60px;
  flex-wrap: wrap;
  margin-bottom: 10px;
}

.header__content {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 16px;
  height: 60px;
}

.header__left-part {
  display: flex;
}

.header__logo {
  font-size: 32px;
  text-decoration: none;
  color: aliceblue;
  width: 50px;
}

.header__search {
  padding: 8px;
  border: 2px solid black;
  border-radius: 5px;
  outline: none;
  color: #000;
}

.header__search::placeholder {
  color: #999;
}

.header__list {
  font-size: 18px;
  list-style-type: none;
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
}

.footer__list {
  list-style-type: none;
  display: flex;
  gap: 15px;
  justify-content: center;
  flex-wrap: wrap;
}

.footer {
  margin-top: 10px;
  border-top: 1px solid aliceblue;
}

a {
  text-decoration: none;
}

a:hover {
  color: rgb(236, 155, 245);
}

.creators {
  text-align: center;
  font-size: 10px;
  color: rgb(236, 155, 245);
}

@media (max-width:550px) {
  .header__list {
    font-size: 12px;
  }

  .footer__list {
    font-size: 12px;
  }
}

/* header end */


.popular-movies {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  max-width: 1300px;
  margin: auto;
}

.popular-movie {
  width: 240px;
  margin: 10px;
  position: relative;

}
.popular-movie:hover{
  transform: scale(105%);
  box-shadow: 0px 0px 10px 10px rgba(255, 255, 255, 0.3);
}
.search-movie_cover,
.popular-movie__cover-inner {
  position: relative;
  height: 360px;
  box-shadow: 10px 5px 5px $general-color;
}
.search-movie_cover,
.popular-movie__cover {
  max-width: 100%;
  height: 100%;
}

.popular-movie__cover--darkened {
  background-color: #000000;
  opacity: 0.1;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  max-width: 100%;
  height: 100%;
  z-index: 1;
}

.popular-movie__cover--darkened:hover {
  background-color: $section-color;
  cursor: pointer;
}

.popular-movie__info {
  padding: 10px 0px;
  text-align: center;
}
.search-movie__title,
.popular-movie__title {
  font-family: $general-font;
  text-align: center;
  font-size: 18px;
  color: white;
}
.search-movie__category,
.popular-movie__category {
  font-family: $general-font;
  font-size: 14px;
  color: $genre-color;
  font-style: italic;
  margin-bottom: 3px;
}
.search-movie__average,
.popular-movie__average {
  position: absolute;
  top: 10px;
  left: 10px;
  border-radius: 50%;
  width: 36px;
  height: 36px;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: $section-color;
  color: white;
  font-size: 14px;
}
.search-movie__average--green,
.popular-movie__average--green {
  border: 1px solid green;
}
.search-movie__average--orange,
.popular-movie__average--orange {
  border: 1px solid orange;
}
.search-movie__average--red,
.popular-movie__average--red {
  border: 1px solid red;
}

.modal-overlay {
  display: none;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.8);
  align-items: center;
  justify-content: flex-start;
  z-index: 1000;
}

.modal-content {
  background-color: black;
  border-radius: 5px;
  padding: 20px;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.5);
  width: 80%;
  max-width: 600px;
  position: relative;
  max-height: 80vh;
  overflow-y: auto;
  margin: auto;
  display: flex;
  flex-direction: column;
  align-items: center;
}
h2{
  color: #000;
}
.modal-header {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  margin-bottom: 10px;
}

.modal-close {
  background-color: transparent;
  border: none;
  border-radius: 3px;
  padding: 5px 10px;
  color: white;
  cursor: pointer;
}

.modal-prev,
.modal-next {
  border: none;
  border-radius: 3px;
  padding: 8px 15px;
  color: white;
  cursor: pointer;
  transition: background-color 0.3s, transform 0.3s;
}

.modal-prev {
  background-color: $blue-color;
}

.modal-next {
  background-color: $pink-color;
}

.modal-prev:hover {
  background-color: $blue-color;
  transform: scale(1.05);
}

.modal-next:hover {
  background-color: $blue-color;
  transform: scale(1.05);
}


//  STYLES ЮЛЯ

.movie__cover-inner {
    position: relative;
    height: 233px;
    box-shadow: 10px 5px 5px rgb(15, 15, 15);
}

.movie__cover {
    max-width: 100%;
    height: 100%;
}

.movie__cover--darkened {
    background-color: #000000;
    opacity: 0.1;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    max-width: 100%;
    height: 100%;
    z-index: 1;
}

.movie__cover--darkened:hover {
    background-color: $section-color;
    cursor: pointer;
}

.movie__info {
    padding: 10px 0px;
}

.movie__title {
  font-style: "Poppins";
  color: #ffffff;
}

.movie__category {
    font-size: 14px;
    font-family: 'Poppins';
    color: $genre-color;
}

.movie__average {
    position: absolute;
    top: 10px;
    left: 10px;
    right: 0;
    border-radius: 50%;
    width: 36px;
    height: 36px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #1a191f;
    color: #ffffff;
    font-size: 14px;
}

.movie__average--green {
    border: 1px solid green;
}

.movie__average--orange {
    border: 1px solid orange;
}

.movie__average--red {
    border: 1px solid red;
}

/* RANDOM_FILM RART */

.random{
  position: relative;
}

.random::after {
  content: "";
  top: -0%;
  left: 24%;
  position: absolute;
  height: 100%;
  width: 53%;
  background: linear-gradient(90deg, $pink-color, $blue-color);
  z-index: -1;
  filter: blur(30px);
}
.random-container {
    height: 360px;
    display: flex;
    align-items: center;
    justify-content: space-around;
    background: -webkit-linear-gradient(90deg, rgb(10, 3, 28) 51%, rgb(59, 168, 191) 100%);
    background: -moz-linear-gradient(90deg, rgb(10, 3, 28) 51%, rgb(59, 168, 191) 100%);
    background: linear-gradient(90deg, rgb(10, 3, 28) 51%, rgb(52, 148, 168) 200%);
    background-color: $section-color;
    margin: 50 auto;
    max-width: 700px;
    height: 380px;
    backdrop-filter: opacity(20%);
    box-shadow: -1px -1px 61px 35px rgba(35, 49, 84, 0.64);
    -webkit-box-shadow: -1px -1px 61px 35px rgba(35, 49, 84, 0.64);
    -moz-box-shadow: -1px -1px 61px 35px rgba(35, 49, 84, 0.64);
    z-index: 99;
    border-radius: 17px;
}

.random__left-part {
    align-items: center;
}

.random-basic-img {
    width: 50px;
    height: 50px;
}

.random__movie {
  width: 160px;
  @include movie-card-style()
}
.random__title{
  width: 250px;
  margin-bottom: 50px;
  @include font-style();
}

.random-select{
  font-family: 'Poppins';
  width: 170px;
  height: 45px;
  border: 1px solid rgb(161, 158, 158);
  font-size: 17px;
color: $white;
background-color: #454b65;
text-align: center;
margin-bottom: 3px;
border-radius: 7px;
}
.movies {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}

.random-basic-img {
    animation: 1s linear 0s normal none infinite running rot;
    -webkit-animation: 1s linear 0s normal none infinite running rot;
    width: 125px;
    height: 125px;

}

@keyframes rot {
    0% {
        transform: rotate(0deg);
    }

    100% {
        transform: rotate(360deg);
    }
}

@-webkit-keyframes rot {
    0% {
        transform: rotate(0deg);
    }

    100% {
        transform: rotate(360deg);
    }
}

/* RANDOM_FILM RART END */

// TOP 250 FILMS

.top-250-films{
  background-color: $section-color;
  margin: auto;
  text-align: center;
}
.top-250-films__title{
  padding-top: 30px;
  font-style: $general-font;
}
.top-250-films__boxes{
  margin:  auto;
  max-width: 1350px;
  display: flex;
  flex-wrap: wrap;
}


.top-250-films__button-hide{
  display: none;
  text-align: center;
  @include button-general-style()
}
.top-buttons{
  display: flex;
  justify-content: center;
}
.top-250-films__button{
  text-align: center;
  @include button-general-style();
  margin-right: 15px;
}
.top-250-films__box,
.top-250-films__box-two {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  max-width: 1270px;
}

.top-movie {
  width: 240px;
  margin: 10px;
  position: relative;
}
.top-movie:hover{
  transform: scale(105%);
  box-shadow: 0px 0px 10px 10px rgba(255, 255, 255, 0.3);
}
.top-movie__cover-inner {
  position: relative;
  height: 360px;
  box-shadow: 10px 5px 5px $general-color;
}

.top-movie__cover {
  max-width: 100%;
  height: 100%;
}

.top-movie__cover--darkened {
  background-color: #000000;
  opacity: 0.1;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  max-width: 100%;
  height: 100%;
  z-index: 1;
}

.top-movie__cover--darkened:hover {
  background-color: $general-color;
  cursor: pointer;
}

.top-movie__info {
  padding: 10px 0px;
}

.top-movie__title {
  font-family: $general-font;
  font-size: 18px;
  color: white;
}

.top-movie__category {
  font-family: $general-font;
  font-size: 14px;
  color: $genre-color;
  font-style: italic;
  margin-bottom: 3px;
}

.top-movie__average {
  position: absolute;
  top: 10px;
  left: 10px;
  border-radius: 50%;
  width: 36px;
  height: 36px;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: $section-color;
  color: white;
  font-size: 14px;
}
.top-movie__average--green {
  border: 1px solid green;
}

.top-movie__average--orange {
  border: 1px solid orange;
}

.top-movie__average--red {
  border: 1px solid red;
}

.preloader {
  position: fixed;
  left: 0;
  top: 0;
  right: 0;
  bottom: 0;
  overflow: hidden;
  /* фоновый цвет */
  background: $section-color;
  z-index: 1001;
}

.preloader__image {
  position: relative;
  top: 50%;
  left: 50%;
  width: 70px;
  height: 70px;
  margin-top: -35px;
  margin-left: -35px;
  text-align: center;
  animation: preloader-rotate 2s infinite linear;
}

@keyframes preloader-rotate {
  100% {
    transform: rotate(360deg);
  }
}

.loaded_hiding .preloader {
  transition: 0.3s opacity;
  opacity: 0;
}

.loaded .preloader {
  display: none;
}